.editor {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.editor :global(.cm-editor) {
  flex: 1;
  min-height: 0;
  outline: none;
}

.editor :global(.cm-scroller) {
  overflow: auto !important;
}
